@tailwind base;
@tailwind components;
@tailwind utilities;

footer p {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 20px;
}
footer a {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.95rem;
}

.icon1 {
  border-radius: 50%;
}
.icon2 {
  border-radius: 50%;
}
.icon3 {
  border-radius: 50%;
}
.icon4 {
  border-radius: 50%;
}